
.symbolCard__price {
  margin: 12px 0;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.priceLabel {
  font-size: 12px;
}

.priceValue {
  font-weight: bold;
  font-size: 20px;
}